// SPDX-License-Identifier: (GPL-2.0 OR MIT)
//
// Copyright (C) 2016 Freescale Semiconductor, Inc.

/dts-v1/;

#include "imx6ull.dtsi"
#include "imx6ul-14x14-evk.dtsi"

/ {
	model = "Freescale i.MX6 ULL 14x14 EVK Board";
	compatible = "fsl,imx6ull-14x14-evk", "fsl,imx6ull";
};

&clks {
	assigned-clocks = <&clks IMX6UL_CLK_PLL3_PFD2>,
			  <&clks IMX6UL_CLK_PLL4_AUDIO_DIV>;
	assigned-clock-rates = <320000000>, <786432000>;
};

/delete-node/ &sim2;

&can1 {
	/delete-property/ xceiver-supply;
};

&can2 {
	/delete-property/ xceiver-supply;
	status = "disabled";
};

&ov5640 {
	/delete-property/ pwn-gpios;
	/delete-property/ rst-gpios;
};

// Release 74hc595 power and gpio5.io[7], gpio5.io[8].
/ {
	/delete-node/ regulator-can-3v3;
	/delete-node/ spi4;
};

&iomuxc {
	/delete-node/ spi4grp;

	pinctrl_enet1_reset: enet1resetgrp {
		fsl,pins = <MX6UL_PAD_SNVS_TAMPER7__GPIO5_IO07 0x10b0>;
	};

	pinctrl_enet2_reset: enet2resetgrp {
		fsl,pins = <MX6UL_PAD_SNVS_TAMPER8__GPIO5_IO08 0x10b0>;
	};
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet1 &pinctrl_enet1_reset>;
	phy-mode = "rmii";
	phy-handle = <&ethphy0>;
	phy-reset-gpios = <&gpio5 7 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <200>;
	status = "disabled";
};

&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet2 &pinctrl_enet2_reset>;
	phy-mode = "rmii";
	phy-handle = <&ethphy1>;
	phy-reset-gpios = <&gpio5 8 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <200>;
	phy-reset-post-delay = <100>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@2 {
			reg = <2>;
			/delete-property/ micrel,led-mode;
			clocks = <&clks IMX6UL_CLK_ENET_REF>;
			clock-names = "rmii-ref";
		};

		ethphy1: ethernet-phy@1 {
			reg = <1>;
			/delete-property/ micrel,led-mode;
			clocks = <&clks IMX6UL_CLK_ENET2_REF>;
			clock-names = "rmii-ref";
		};
	};
};

// Remove not supported codec.
/ {
	/delete-node/ sound-wm8960;
};

// Adjust SAI2 pinctrl for i.MX6U-MINI.
&iomuxc {
	pinctrl_sai2: sai2grp {
		fsl,pins = <
			MX6UL_PAD_JTAG_TDI__SAI2_TX_BCLK	0x17088
			MX6UL_PAD_JTAG_TDO__SAI2_TX_SYNC	0x17088
			MX6UL_PAD_JTAG_TRST_B__SAI2_TX_DATA	0x11088
			MX6UL_PAD_JTAG_TMS__SAI2_MCLK		0x17088
		>;
	};
};

&sai2 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai2>;

	assigned-clocks = <&clks IMX6UL_CLK_SAI2_SEL>,
			  <&clks IMX6UL_CLK_PLL4_AUDIO_DIV>;
	assigned-clock-parents = <&clks IMX6UL_CLK_PLL4_AUDIO_DIV>;
	// 196608000 / (192000 * 2 * 32) = 16.0
	// 196608000 / (48000 * 2 * 16) = 128.0
	assigned-clock-rates = <2>, <196608000>;

	status = "okay";
};

// Add an I2S Receiver, work under 192K sample rate.
/ {
	pcm5102a: pcm5102a {
		#sound-dai-cells = <0>;
		compatible = "ti,pcm5102a";
		status = "okay";
	};

	sound {
		compatible = "simple-audio-card";
		status = "okay";
		simple-audio-card,name = "audec";

		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink0_master>;
		simple-audio-card,frame-master = <&dailink0_master>;
		simple-audio-card,convert-rate = <192000>;
		simple-audio-card,mclk-fs = <256>;

		dailink0_master: simple-audio-card,cpu {
			sound-dai = <&sai2>;
		};

		simple-audio-card,codec {
			sound-dai = <&pcm5102a>;
		};
	};
};
